{{#extend "layout"}}
    {{#content "body"}}
    	<div class="p-t-5 p-b-5">
    		<div class="flex flex-row">
    			<div>
    				<h1 class="heading m-b-2">Layout</h1>
    				<h6 class="upcase">All texts published by our users</h6>
    			</div>
    			<div class="flex align-items-center flex-grow justify-content-end">
    				<button class="btn btn-md btn-default">
    					<i class="icon-align-left"></i>
    					<span class="m-l-1">Filter by</span>
    				</button>
    				<div class="input-group input-group-md input-group-default m-l-1">
    					<input type="text" class="form-control p-l-1 p-r-1" placeholder="Search">
						<button class="btn btn-md btn-default"><i class="icon-search"></i></button>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div id="list-of-works">
    		<div class="flex row">
	    		{{#each data.works}}
					<div class="col-xs-12 col-md-4">
						<div class="card flex">
							<div class="cover-image">
								<img src="{{image-url}}" alt="Cover Image">
							</div>
							<div class="content">
								<h3 class="heading">{{title}}</h3>
								<h6 class="description">{{description}}</h6>
								<div class="divider"></div>
								<div class="read-more flex">
									<div class="likes">
										<i class="icon-like-o"></i>
										<span>{{likes}}</span>
									</div>
									<div class="link">
										<a href="/">
											<h5 class="m-r-1">Read More</h5>
											<i class="icon-arrow-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
	    		{{/each}}
    		</div>
    	</div>
    {{/content}}
{{/extend}}
