{{#extend "layout"}}
    {{#content "body"}}
    	<div class="visible-xs m-t-7 p-t-7 text-center">
    		<p>Lorem Ipsum е елементарен примерен текст, използван в печатарската и типографската индустрия. <a class="brand-color" href="#">Научете повече</a></p>
    	</div>
    	<div class="row m-t-5 xs-m-t-3 p-t-5 p-b-5">
	    	<div class="col-xs-12 col-sm-offset-1 col-sm-8">
	        	<div class="container-fluid">
	        		<div id="categories" class="row small-guttered images-list">
	        			<div class="col-xs-12 col-sm-4">
	        				<a class="item" data-heading="Много дълга категория">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html/2">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        			<div class="col-xs-12 col-sm-4" class="item" data-heading="Много дълга категория">
	        				<a href="/category.html">
		        				<div class="card" style="background-image: url('images/test-image.jpg');">
		        					<div class="overlay"></div>
		        					<div class="caption">
		        						<h4 class="heading">
		        							<a href="/category.html" class="white-color">Много дълга категория</a>
		        						</h4>
		        						<a href="/category.html" class="white-color icon"><i class="icon-arrow-right"></i></a>
		        					</div>
		        				</div>
	        				</a>
	        			</div>
	        		</div>
	        	</div>
	    	</div>
        </div>
		<div class="visible-xs text-center m-b-7">
			<p>Свържете се с мен</p>
			<a href="/contacts.html" class="btn btn-default btn-md m-t-3">Контакти</a>
		</div>
    {{/content}}
{{/extend}}
