{{#extend "layout"}}
    {{#content "body"}}
    	<div class="p-t-5 p-b-5">
    		<div class="flex flex-row">
    			<div>
    				<h1 class="heading m-b-2">Layout</h1>
    				<h6 class="upcase">All texts published by our users</h6>
    			</div>
    			<div class="flex align-items-center flex-grow justify-content-end">
    				<button class="btn btn-md btn-default">
    					<i class="icon-align-left"></i>
    					<span class="m-l-1">Filter by</span>
    				</button>
    				<div class="input-group input-group-md input-group-default m-l-1">
    					<input type="text" class="form-control p-l-1 p-r-1" placeholder="Search">
						<button class="btn btn-md btn-default"><i class="icon-search"></i></button>
    				</div>
    			</div>
    		</div>
    	</div>
    {{/content}}
{{/extend}}
