.brand-color {
	color: $brand-primary;
}

.white-color {
	color: $white-color;
}

.red-color {
	color: $red-color;
}

.text-color {
	color: $text-color;
}

.height-full {
	height: 100%;
}

.upcase {
	text-transform: uppercase;
}
