.btn {
	outline: 0;
	box-shadow: none;
	font-size: $font-size-h5;
	display: flex;
	align-items: center;
	border: 0;

	&.btn-default {
		background-color: transparentize(#000, .97);
		color: $extra-dark-snow;

		span {
			opacity: .7;
		}
	}

	&.btn-md {
		padding: 0 $s-xs;
		font-size: $font-size-h5;
		height: $s-md;
		line-height: $s-md;
	}
}