.card {
	height: 200px;
	background-color: $white-color;
	transition: all .3s ease-in-out;

	&:hover,
	&:active,
	&:focus,
	&.active,
	&.focus {
		@include z-depth-2;

		.cover-image {
			img {
				transform: scale(1.2);
			}
		}
	}

	.cover-image {
		min-width: 125px;
		max-width: 125px;
		display: flex;
		overflow: hidden;
		justify-content: center;

		img {
			height: 100%;
			transition: all 1s ease-in-out;
		}
	}

	.divider {
		width: 100%;
		height: 1px;
		background-color: $border-color;
	}

	.like {
		color: $extra-dark-snow;
		display: inline-block;
		
		&:hover,
		&:active,
		&:focus,
		&.active,
		&.focus {
			i {
				&::before {
					content: "\e908";
					color: $red-color;
					transition: all .2s ease-in-out;
				}
			}
		}

		span {
			margin-left: 5px;
		}
	}
	
	.link {
		color: $extra-dark-snow;
		transition: all .2s ease-in-out;

		h5 {
			display: inline-block;
			transition: all .2s ease-in-out;
		}

		&:hover,
		&:active,
		&:focus,
		&.active,
		&.focus {
			opacity: .6;

			h5 {
				margin-right: $s-sm;
			}
		}
	}
}