$white-color: #fff;
$green-color: #58c9b9;
$red-color: #ff7473;
$silver-color: #40444f;
$extra-dark-snow: #9a9ea8;

$background-color: #f9f9fb;

$border-color: #e9e9e9;

$brand-color: #4C54FD;
$brand-primary: $brand-color;

$overlay-color: transparentize($brand-primary, .1);
$modal-backdrop-bg: $brand-primary;
$modal-backdrop-opacity: .95;
$modal-content-bg: transparent;

$text-color: $extra-dark-snow;
$heading-color: $silver-color;
$heading-inverted-color: $white-color;

$link-color: $extra-dark-snow;
$link-text-color: $text-color;
$link-brand-color: $brand-primary;
$link-inverted-color: $white-color;
