footer {
	border-top: 1px solid $border-color;
	background-color: $background-color;

	.copyright {
		font-size: $font-size-h6;
		color: $extra-dark-snow;
		text-align: center;

		a {
			color: $extra-dark-snow;

			&:hover,
			&:active,
			&:focus {
				color: transparentize($red-color, .3);
			}
		}

		i::before {
			font-size: 10px;
			color: $red-color;
		}
	}
}
