html {
    min-height: 100%;
    font-size: $font-size-base;
    font-family: 'scada', sans-serif;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

html, body, p, a, ul, li, div, span, hr, input, textarea, button, section, main, nav {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

ul {
	list-style: none;
}

a {
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	transition: color .3s ease-in-out;
	
	&:hover,
	&:active,
	&:focus,
	&:visited {
		outline: 0;
		text-decoration: none;
		color: initial;
	}
}

button {
	outline: 0;

	&:hover,
	&:active,
	&:focus {
		outline: 0;
	}
}

#main-content {
	flex-grow: 1;
	background-color: $background-color;
}
