@mixin spacing($spacing, $type-of-spacing, $spacing-position: false) {
	@if $type-of-spacing == 'margin' {
		@if $spacing-position {
			@if $spacing-position == 'top' {
				margin-top: $spacing;
			} @else if $spacing-position == 'right' {
				margin-right: $spacing;
			} @else if $spacing-position == 'bottom' {
				margin-bottom: $spacing;
			} @else if $spacing-position == 'left' {
				margin-left: $spacing;
			}
		} @else {
			margin: $spacing;
		}
	} @else if $type-of-spacing == 'padding' {
		@if $spacing-position {
			@if $spacing-position == 'top' {
				padding-top: $spacing;
			} @else if $spacing-position == 'right' {
				padding-right: $spacing;
			} @else if $spacing-position == 'bottom' {
				padding-bottom: $spacing;
			} @else if $spacing-position == 'left' {
				padding-left: $spacing;
			}
		} @else {
			padding: $spacing;
		}
	}
}

// SHADOWS
@mixin z-depth-1($color: #000) {
	box-shadow: 0 8px 32px transparentize($color, .9);
}

@mixin z-depth-2($color: #000) {
	box-shadow:  0 8px 32px transparentize($color, .9), 0 8px 64px transparentize($color, .9);
}

@mixin z-depth-3($color: #000) {
	box-shadow: 0 2px 2px transparentize($color, .9), 0 4px 4px transparentize($color, .9), 0 8px 8px transparentize($color, .9), 0 16px 16px transparentize($color, .9), 0 32px 32px transparentize($color, .9), 0 64px 64px transparentize($color, .9);
}

@mixin z-depth-4($color: #000) {
	box-shadow: 0 2px 2px transparentize($color, .8), 0 4px 4px transparentize($color, .8), 0 8px 8px transparentize($color, .85), 0 16px 16px transparentize($color, .85), 0 32px 32px transparentize($color, .9);
}
