.nav-vertical {
	li {
		a {
			font-weight: 500;
			position: relative;
			display: inline-block;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: 500;
			font-family: 'Roboto', sans-serif;
		}
	}

	&.nav-grayscale {
		li {
			a {
				&:hover,
				&:active,
				&:focus,
				&.active,
				&.focus {
					color: $silver-color;
				}
			}

			&.nav-dropdown {
				ul {
					li {
						a {
							color: $silver-color;
						}
					}
				}
			}
		}
	}

	&.nav-inverse {
		li {
			a {
				font-weight: normal;
				color: $white-color;

				&:hover,
				&:active,
				&:focus,
				&.active,
				&.focus {
					color: transparentize($white-color, .4);
				}
			}

			&.nav-dropdown {
				ul {
					li {
						a {
							color: transparentize($white-color, .4);
						}
					}
				}
			}
		}
	}
}
