// BORDER RADIUS
$border-radius-base: 20px;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

// SPACING
$s-xs: 10px;
$s-sm: 20px;
$s-md: 30px;
$s-lg: 40px;
$s-xl: 50px;
$s-xxl: 60px;
$s-xxxl: 70px;

$navbar-height: 40px;

// TYPOGRAPHY
$font-size-base: 14px !default;

$font-size-h1: 35px !default;
$font-size-h2: 28px !default;
$font-size-h3: 18px !default;
$font-size-h4: 16px !default;
$font-size-h5: $font-size-base !default;
$font-size-h6: 12px;

// MEDIA QUERIES BREAKPOINTS
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

// GRID
$grid-gutter-width: 30px;
$grid-columns: 12;

// CONTAINER
$container-sm: 720px + $grid-gutter-width;
$container-md: 940px + $grid-gutter-width;
$container-lg: 1140px + $grid-gutter-width;

// MODAL
$modal-title-padding: 0;
$modal-lg: 100%;

// CLOSE
$close-font-weight: normal;
$close-color: $white-color;
$close-text-shadow: none;

// HEADER
$header-max-height: 350px;
$header-max-height-mobile: 250px;

// BUTTONS
$btn-default-color: $text-color;
$btn-default-bg: transparent;
$btn-default-border: $border-color;

$btn-lg-min-width: 165px;
$btn-lg-font-size: $font-size-h5;

// FORMS
$input-color: $text-color;
$input-border: $border-color;
$input-border-focus: $brand-primary;
$input-color-placeholder: $text-color;
$input-height-medium: 40px;

// IMAGE VIEW
$card-width-small: 50px;
$card-height-small: 50px;
