#image-view {
	.modal-footer {
		position: relative;
		right: 0;
		transition: right .3s ease-in-out;
	}

	.gallery-collection {
		.card {
			cursor: pointer;
			display: block;
			width: $card-width-small;
			height: $card-height-small;
		}
	}
}
